<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>Ceci est un exercice à valider pour Application CGI</h1>

    <% require 'pg' %>

    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>

        <form action='indicate.cgi' method='POST'>
          Veuillez saisir les caractères ci-dessous<br><br>
          <input type="text"  name='input' ><br><br>
          <input type="submit" name="Envoyer" >
        </form>


        <% result = connection.exec("select weight, give_for from crops;") %>
        <% data = [] %>

        <% result.each do |record| %>
        <%  data << "La taille de la courge amère：#{record["weight"]}　Qui a vendu ：#{record["give_for"]}" %>
        <% end %>

          <form action="goya.cgi" method="POST">
        Press the button below to jump to the information page of the size of bitter gourd and the person who sold it.<br><br>
            <input type="text" name="goya" value="<%= data.join(' ') %>">
            <input type="submit" name="Send">
          </form>

        <% result = connection.exec("select give_for from crops WHERE NOT give_for = 'consommation personnelle';") %>
        <% data = [] %>

        <% result.each do |record| %>
        <% data << "Vendu a：#{record["give_for"]}" %>
        <% end %>

          <form action="donne.cgi" method="POST">
    Appuyez sur le bouton ci-dessous pour passer à la page d'information sur la taille de la gourde amère et la personne qui l'a vendue.<br><br>
            <input type="text" name="donne" value="<%= data.join(' ') %>"><br><br>
            <input type="submit" name="Envoyer">
          </form>

          <% result = connection.exec("select quality from crops WHERE quality = false;") %>
          <% data = [] %>

          <% result.each do |record| %>
          <% data << "Qualité：#{record["quality"]}" %>
          <% end %>

            <form action="qualite.cgi" method="POST">
      Cliquer sur le bouton ci-dessous pour accéder à la page d'information sur les produits de mauvaise qualité.<br><br>
              <input type="text" name="qualite" value="<%= data.join(' ') %>"><br><br>
              <input type="submit" name="Envoyer">
            </form>
            <h1>Ceci est la version final de mon exercice: Application CGI</h1>
  </body>
</html>
