<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>ddd</h1>

    <% require 'pg' %>

    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>

        <form action='indicate.cgi' method='POST'>
          Please enter the characters below<br><br>
          <input type="text"  name='input' ><br>
          <input type="submit" name="Send" >
        </form>

      <% result = connection.exec("select weight, give_for from crops;") %>
      <% data = [] %>

      <% result.each do |record| %>
      <%  data << "La taille de la courge amère：#{record["weight"]}　Qui a vendu ：#{record["give_for"]}" %>
      <% end %>

        <form action="goya.cgi" method="POST">
  Press the button below to jump to the information page of the size of bitter gourd and the person who sold it.<br><br>
          <input type="text" name="goya" value="<%= data.join(' ') %>">
          <input type="submit" name="Send">
        </form>

        <% result = connection.exec("select give_for from crops WHERE NOT give_for = '自家消費';") %>
        <% data = [] %>

        <% result.each do |record| %>
        <% data << "-------：#{record["give_for"]}" %>
        <% end %>

          <form action="goya.cgi" method="POST">
    Press the button below to jump to the information page of the size of bitter gourd and the person who sold it.<br><br>
            <input type="text" name="goya" value="<%= data.join(' ') %>">
            <input type="submit" name="Envoyer">
          </form>

  </body>
</html>
